/** FONT FAMILY **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");

:root {
  /** FONTS */
  --main-font: "Poppins", sans-serif;

  /** COLORS **/
  --primary: #1a4a60cc;
  --white: #fff;
  --black: #000;
  --light-grey: #cdcaca;
  --grey: #bebcbc;
  --soft-grey: #f3f3f3;
  --dark-blue: #1f485b;
  --light-red: #f54254;
  --red: #ff0d25;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /** 10px = 1rem */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  letter-spacing: 0.2rem;
}

body {
  font-family: var(--main-font);
  font-size: 1.8rem; /** 18px */
  line-height: 2;
  margin: 0;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.5rem;
  font-weight: 800;
  color: var(--black);
}

h2 {
  color: var(--light-grey);
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey);
}

button,
input[type="submit"] {
  cursor: pointer;
}

.authlayout,
.protectedRouteLayout {
  background-color: var(--primary);
  min-height: 100vh;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.protectedRouteLayout {
  flex-direction: column;
  gap: 1.5rem;
}

.protectedRouteLayout h1 {
  font-size: 2rem;
  color: var(--grey);
}

.container {
  display: flex;
  max-width: 100%;
}

.form-container {
  background-color: var(--white);
  border-radius: 3.1rem;
  width: 70rem;
  max-width: 100%;
  padding: 12rem;
  position: relative;
  right: 5rem;
  z-index: 1;
  box-shadow: 0.7rem 0.7rem 1rem 0.4rem rgba(75, 100, 119, 0.69);
}

select {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color: var(--black);
  font-weight: 400;
  font-size: 1.4rem;
  border: none;
}

select:active,
select:focus {
  outline: none;
}

.abstraction {
  display: block;
  width: 58rem;
  height: 58rem;
  position: absolute;
  right: 85%;
  bottom: 0;
}

.abstraction.img-login {
  width: 52rem;
  height: 52rem;
  right: 87%;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 3.5rem 0;
}

.social-btn {
  background-color: var(--white);
  border: 0.1rem solid var(--soft-grey);
  border-radius: 0.5rem;
  font-weight: 300;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.form-auth {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.form-auth input {
  border: 0;
  border-bottom: 0.1rem solid var(--soft-grey);
  max-width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--grey);
  padding: 2rem 1rem;
}

::placeholder {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--grey);
}

.form-auth input:focus {
  outline: none;
}

.form-auth input[type="submit"] {
  color: var(--white);
  background-color: var(--dark-blue);
  text-transform: capitalize;
  font-weight: 800;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  margin-top: 3.5rem;
  padding: 1.5rem 0;
}

.link {
  text-decoration: none;
  color: var(--dark-blue);
}

.blue-box {
  background-color: var(--dark-blue);
  border-radius: 3.1rem;
  padding: 2rem 0 0 2rem;
  width: 60rem;
  max-width: 100%;
  position: relative;
  left: 5rem;
  z-index: 0;
  box-shadow: 0.4rem 0.4rem 2.6rem 0.4rem rgba(75, 100, 119, 0.69);
}

.blue-box p {
  color: var(--white);
  line-height: 1;
  font-size: 3.6rem;
  font-weight: 400;
  margin: 3rem 0 0 3rem;
}

.blue-box img {
  width: 13.5rem;
  height: 11.7rem;
}

.alert {
  width: 25rem;
  border: 0.1rem solid var(--red);
  border-radius: 0.7rem;
  background-color: var(--light-red);
  padding: 1.5rem;
  margin: 0 auto;
}

.alert p {
  color: var(--white);
}

/** MEDIA QUERIES **/
@media (max-width: 767px) {
  h1 {
    text-align: center;
  }

  .container {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .form-container {
    border-radius: 0;
    width: 100%;
    padding: 2rem;
    right: 0;
    box-shadow: none;
  }

  .form-container p {
    text-align: center;
  }

  .blue-box {
    border-radius: 0;
    width: 100%;
    padding: 2rem;
    left: 0;
    box-shadow: none;
  }

  .abstraction {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    text-align: center;
  }

  .container {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  .form-container {
    padding: 6rem;
    width: 100%;
    right: 0;
    top: 2rem;
  }

  .form-container p {
    text-align: center;
  }

  .blue-box {
    padding: 6rem;
    width: 100%;
    left: 0;
    bottom: 3rem;
  }

  .abstraction {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1299px) {
  .form-container {
    width: 55rem;
    padding: 9rem;
    right: 8rem;
  }

  .blue-box {
    padding: 3rem;
    left: 8rem;
  }

  .abstraction,
  .abstraction.img-login {
    width: 45rem;
    height: 45rem;
    right: 85%;
  }
}
